@font-face {
  font-family: tesla;
  src: url("./assets/fonts/TESLA.ttf");
}
@font-face {
  font-family: teslaLarge;
  src: url("./assets/fonts/TESLA-large.ttf");
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.tesla {
  font-family: tesla;
}
.teslaLarge {
  font-family: teslaLarge;
}

.transitionDesign {
  transition: 0.5s;
}

.fadein {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fadeout {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.sectionFade {
  animation-name: section-fade;
  animation-duration: 1s;
}

@keyframes section-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modely-bg {
  background-image: url("./assets/images/modely.jpg");
  background-position: center;
  background-size: 150% 90%;
  background-repeat: no-repeat;
}
.model3-bg {
  background-image: url("./assets/images/model3.jpg");
  background-position: center;
  background-size: 150% 90%;
  background-repeat: no-repeat;
}
.models-bg {
  background-image: url("./assets/images/models.jpg");
  background-position: center;
  background-size: 125% 90%;
  background-repeat: no-repeat;
}
.modelx-bg {
  background-image: url("./assets/images/modelx.jpg");
  background-position: center;
  background-size: 125% 90%;
  background-repeat: no-repeat;
}
.solarpanel-bg {
  background-image: url("./assets/images/solar-panels.jpg");
  background-position: center;
  background-size: 150% 90%;
  background-repeat: no-repeat;
}
.solarroof-bg {
  background-image: url("./assets/images/solar-roof.jpg");
  background-position: center;
  background-size: 150% 90%;
  background-repeat: no-repeat;
}
.accessories-bg {
  background-image: url("./assets/images/accessories.jpg");
  background-position: center;
  background-size: 35% 35%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 640px) {
  .modely-bg {
    background-image: url("./assets/images/modely.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .model3-bg {
    background-image: url("./assets/images/model3.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .models-bg {
    background-image: url("./assets/images/models.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .modelx-bg {
    background-image: url("./assets/images/modelx.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .solarpanel-bg {
    background-image: url("./assets/images/solar-panels.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .solarroof-bg {
    background-image: url("./assets/images/solar-roof.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .accessories-bg {
    background-image: url("./assets/images/accessories.jpg");
    background-position: center;
    background-size: 20% 45%;
    background-repeat: no-repeat;
  }
}
